.container.reader{ 
    position: relative;
    padding-left: 20%!important;
    padding-right: 20%!important;
    color:  #E5DCDC!important;
}
.container.reader-login{ 
    position:absolute; 
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%)!important;
    padding-left: 15%!important;
    padding-right: 15%!important;
    color:  #E5DCDC!important;

}
.card.cardForm{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px!important;
        background-color: #341f1d5d!important;
}
.card.cardRegister{
    border-radius: 0px 0px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px!important;
    background-color: #341f1d5d!important;
}

.card{  
    padding: 2.5%; 
    background-color: #68585541; 
    font-size: 20px;
}

.card.cardForm, .card.cardRegister{ 
    padding-left: 25%!important;
    padding-right: 25%!important;
}

.form-group{  
    padding: 10%;
}
.form-control{ 
    background-color: #E5DCDC!important; 
    border-color: #341F1D!important;
} 
  
.link, .undo{
    background-color: transparent;
    color:#341F1D;
    border: 0;
}
.link:hover{
    background-color: transparent!important;
    color: #07750b!important;
    border: 0;
}
.undo:hover{
    background-color: transparent!important;
    color: #842029!important;
    border: 0;
}


